@import 'reset';
@import 'login'; 
@import 'index';
@import 'shops';
@import 'contacts';
@import 'arenda';

@font-face {
    font-family: 'FE MussyPussy';
    src: url(/template/fonts/FEMussyPussy-Regular.ttf);
}

@font-face {
    font-family: 'Zametka_Parletter';
    src: url(/template/fonts/Zametka_Parletter.otf);
}